<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjV87MV6ZrCCNED4CbY4VzcC2gIFskI_8</string>
	<key>GCM_SENDER_ID</key>
	<string>957619161751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porseatechnology.budgetIntelli</string>
	<key>PROJECT_ID</key>
	<string>budget-intellie</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-intellie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957619161751:ios:e38fc5143b5d08766937d2</string>
	<key>DATABASE_URL</key>
	<string>https://budget-intellie-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>